.App {
  height: 100%;
  width: 100%;
  overflow: auto;
  .centerBox{
    position: relative;
    justify-content: center;
    display: flex;
  }

}

@media (prefers-reduced-motion: no-preference) {
  
}

